:root {
  --primary-color: #d7d7db;
  --secondary-color: #acbabf;
  --border-color: #373737;
}

body {
  background-color: var(--secondary-color);
  font-family: "Abel", sans-serif;
}

img {
  border-radius: 15px;
}

img,
select {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h1 {
  font-size: 50px;
}

select {
  font-size: 15px;
  padding: 5px 50px;
  border-radius: 5px;
}

footer {
  text-align: center;
  margin-top: -35px;
}

.container {
  margin: 50px auto;
  text-align: center;
  width: 900px;
  padding: 15px;
  color: var(--border-color);
  background-color: var(--primary-color);
  border-radius: 15px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.column-secondary-city {
  flex: 50%;

  border-radius: 15px;
  margin: 15px;
}
.current-city {
  font-size: 35px;
}

.current-time {
  font-size: 35px;
  font-weight: bold;
}
.current-date {
  font-size: 25px;
}

.secondary-city {
  font-size: 30px;
}

.secondary-time {
  font-size: 25px;
}
